body {
  display: flex;
  margin: auto 0;
  display: flex;
  background: #b8bcbd;
  width: 99.5vw;
  height:99vh;
  align-items: center;
  justify-content: center;
  border: 2px dashed green;
}


#root {
  display: flex;
  width: 100vw;
  height:99vh;
  justify-content: center;
  align-items: center;
  background-color: burlywood;}