#body-div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: #FFFBFB;
    column-gap: 100px;
}

#button-body {
    border:2px solid brown;
    margin-top: 10%;
    margin-left: 25%;
    padding-left: 5%;
    width: 50%;
    height: 20%;
}