
#button-body {
    display: flex;margin-top: 1vh;
    justify-content:center;
    align-items: center;
    width: 26%;
    height: 8vh;
}

#btn_cadastrar {
  background: #429B34;
  font-family: IBM Plex Sans Condensed;
  margin-left: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
 
}

#btn_alterar {
    background: #B3A741;
    font-family: IBM Plex Sans Condensed;
    margin-left: 1rem;
font-style: normal;
font-weight: bold;
font-size: 22px;
color: #FFFFFF;
}

#btn_excluir {
    background: #C71010;
    font-family: IBM Plex Sans Condensed;
    margin-left: 1rem;
font-style: normal;
font-weight: bold;
font-size: 22px;
color: #FFFFFF;
}