
#button-body {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: stretch;
    height: 8vh;
}

#btn_cadastrar {
  background: #429B34;
  font-family: IBM Plex Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
 
}

#btn_alterar {
    position: absolute;
    background: #B3A741;
    font-family: IBM Plex Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 22px;
color: #FFFFFF;
border: 1px solid #8F7C7C;
}

#btn_excluir {
    position: absolute;
    background: #C71010;
    font-family: IBM Plex Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 22px;
color: #FFFFFF;
border: 1px solid #8F7C7C;
}