#form_id {
    padding-top: 0.5%;
    padding: 1vw;
    display: flex;
    height: 30vh;
    width: 95vw;
    flex-wrap: wrap;
    background: #F1F5F5;
    border: 2px solid #E6E1E1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header_form {
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw; 
    color: #000000;
    align-self: center;
    margin-top: -1vh;
}

.row1 {
    display: flex;
    flex-direction: row;
    height: 3vh;
}

.row2 {
    display: flex;
    flex-direction: row;
    height: 3vh;
    margin-top: 4vh;
 
} 

.row3 {
    display: flex;
    flex-direction: row;
    height: 3vh;
    margin-top: 3vh;
} 

.row4 {
    display: flex;
    flex-direction: row;
    height: 2vh;
    margin-top: 3vh;
    height: 5vh;
}  

.row1 > label {
    font-size: 1vw;
    font-weight: bold;
    margin-right: 1vh;
    margin-left: 1vh;
}

.row2 > label {
    font-size: 1vw;
    font-weight: bold;
    margin-right: 1vh;
    margin-left: 1vh;
}

.row3 > label {
    font-size: 1vw;
    font-weight: bold;
    margin-right: 1vh;
    margin-left: 1vh;
}

input {
 font-weight: bold;
 margin-right: 1vh;
 margin-left: 1vh;
 font-size: smaller;
}
