#form_id {
    margin-top: 2vh;
    padding: 1vw;
    margin: auto;
    display: flex;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    height: 100vh;
    width: 70vw;
    flex-wrap: wrap;
    background: #F1F5F5;
    border: 2px solid #E6E1E1;
    flex-direction: column;
    justify-content: center;
    border:6px solid purple;
}

#header_form {
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 20px; 
    color: #000000;
}

.row1 {
}

.row2 {

} 

.row3 {

}  
   

.row1 > label {
    font-size: 13px;
    font-weight: bold;
}

.row2 > label {
    font-size: 13px;
    font-weight: bold;

}

.row3 > label {
    font-size: 13px;
    font-weight: bold;
}

input {
 font-weight: bold;

}
