#pagination_div {
    display: flex;
    width: 80%;
    font-size: 10rem;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 2vh;
    height: 5vh;
    justify-content: space-around;
    flex-wrap: wrap;
}

#selectedButton {
  background-color: turquoise;
}

#button_letter {
  margin-left: 1%;
  width: 2vw;
}