#search_background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #C4C4C4;
    width: 60%;
}

#search_label {
    font-family: IBM Plex Sans Condensed;
    font-size: 1.4vw;
    width: 12%;
    font-style: normal;
    font-weight: 600;
    color: #000000;
}

#combo_box_search {
    background: #FFFFFF;
    border: 2px solid #F4EEEE;
    width: 23%;
}

#input_search {
    background: #FFFFFF;
    border: 2px solid #F4EEEE;
    width: 35%;
}



#icon_search {
    width: 5vw;
    height: 6vh;
}