#search_background {
    position: absolute;
    width: 610px;
    height: 50px;
    left: 387px;
    top: -60px;
    background: #C4C4C4;
}

#search_label {
    position: absolute;
    width: 106px;
    height: 24px;
    left: 8px;
    top: 5px;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#combo_box_search {
    position: absolute;
    width: 127px;
    height: 24px;
    left: 118px;
    top: 15px;
    background: #FFFFFF;
    border: 2px solid #F4EEEE;
    box-sizing: border-box;
}

#input_search {
    position: absolute;
    width: 300px;
    height: 24px;
    left: 258px;
    top: 15px;
    background: #FFFFFF;
    border: 2px solid #F4EEEE;
    box-sizing: border-box;
}

#icon_search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 570px;
    top: 15px;
}