#search_background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #C4C4C4;
    width: 60%;
    height: 7.5vh;
    margin: 0.60rem;
    max-height: 50px;
}

#search_label {
    font-family: IBM Plex Sans Condensed;
    font-size: 1.7vw;
    width: 12vw;
    font-style: normal;
    font-weight: 600;
    color: #000000;
}

#combo_box_search {
    background: #FFFFFF;
    border: 2px solid #F4EEEE;
    width: 23%;
}

#input_search {
    background: #FFFFFF;
    border: 2px solid #F4EEEE;
    width: 35%;
}



#icon_search {
    width: 2vw;
    height: 3vh;
}