#topbar-body {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: rgb(157, 158, 160);
  padding: 0.2rem;
  width: 99vw;
  height: 4.5rem;
}

#topbar-section {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#userPhoto {
  width: 3.6vw;
  height: 6vh;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-left: -1vw;
  margin-bottom: 1vw;
  border-radius: 50%;
}

#userName {
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    margin-top: 2vh;
    margin-right: 1vw;
    color: #000000;
}

#logout_button {
  margin-top: 0.58vh;  
}