#topbar-body {
  display: flex;
  justify-content: space-around;
  background-color: rgb(157, 158, 160);
  padding: 0.2rem;
  width: 99vw;
  height: 2rem;
}

#topbar-section {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#userPhoto {
  width: 3vw;
  height: 3h;
}

#userName {
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    color: #000000;
}