#topbar-body {
  border: 10px solid yellow;
  width: 100%;
  height: 11%;
  background-color: rgb(157, 158, 160);
}

#userPhoto {
    position: absolute;
    width: 4%;
    height: 8%;
    margin-top: 0.5%;
    left: 1156px;
}

#userName {
    position: absolute;
    width: 4%;
    height: 3%;
    left: 84%;
    top: 3%; 
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}